In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('TechCrunchcontinentalUSA.csv')

In [3]:
df1.head()

,permalink,company,numEmps,category,city,state,fundedDate,raisedAmt,raisedCurrency,round
0,lifelock,LifeLock,NaN,web,Tempe,AZ,1-May-07,6850000,USD,b
1,lifelock,LifeLock,NaN,web,Tempe,AZ,1-Oct-06,6000000,USD,a
2,lifelock,LifeLock,NaN,web,Tempe,AZ,1-Jan-08,25000000,USD,c
3,mycityfaces,MyCityFaces,7.0,web,Scottsdale,AZ,1-Jan-08,50000,USD,seed
4,flypaper,Flypaper,NaN,web,Phoenix,AZ,1-Feb-08,3000000,USD,a

In [4]:
# this function is used to count the frequency of a items in a given column. 
df.category.value_counts()

NameError: name 'df' is not defined

In [ ]:
df1.loc[2,'category']

In [ ]:
df1.iloc[2]

In [ ]:
df1.loc[:,'permalink']

In [ ]:
df1.loc[0:5,'permalink']

In [ ]:
# this function is equal to df.head()
df1.iloc[0:5]

In [ ]:
df1.tail(4)

In [ ]:
df1['numEmps'].value_counts(dropna=False)

In [ ]:
df1.corr()

In [ ]:
df2=df1.copy()

In [ ]:
df2

In [ ]:
#We apply a filter, the argument of isin is taken is parentheses. isin is a method to that particular row or column we are filtering.
filter1=df2['company'].isin(['LifeLock'])

# or this can also be done using df2[df2.company=='LifeLock']

In [ ]:
df2[filter1]

In [ ]:
df2[df2.company=='LifeLock']

In [ ]:
fil2=df2['raisedAmt']>6000000

In [ ]:
#We are now applying these filters to the data,but not as methods
df2[fil2]

In [ ]:
#IMP: In this case, the filter applied in brackets are given priority based on their order.
df3=df2.sort_values(['numEmps','raisedAmt',],ascending=[True,True])

In [ ]:
df3

In [ ]:
#By using these parameters(groupby), we have made classifications, according to that column, now
#Alphabetically they are sorted according to correspinding cities.
#We create an instance gk. Groupby method is applied first to df
gk=df3.groupby(['city'])

In [ ]:
#Now we have derived that data accordingly to the table values. Using different methods on that instance.
gk.first()

In [ ]:
df3.isnull()

In [ ]:
df3.loc[316:378,]

## df2

In [ ]:
df2.loc[318:379]

In [ ]:
df2

In [ ]:
#Wherever there is nan values, it shows. Applying isnull() method yields an output.
df2.isnull()

In [ ]:
df2.isnull().sum() # It means the frequecny. For ex, permalink has no null values.

In [ ]:
# It will drop the value of NaN row wise(axis=0) and column wise(axis=1). How? Think logically.
df2.dropna(axis=0)

In [ ]:
# when mean meyhod is applied, it yields data.
df2.mean()

In [ ]:
# fillna will fill missing data with the data. Syntax:
# df.fillna(x) where x is the required thing.
df2.fillna(df2.mean())

In [ ]:
#applying a replace method yields the df with replaced values, the syntax is:
# df.replace([value to ;be replaced],[to be replaced by this])
df2.replace(['web','Seattle'],['internet','seattle'])

In [ ]:
#You know what it does. Applying rename method yields, and curly brackets are used for equivalents in columns Syntax:
#df.rename(colums={'com':'csfaef'})
df2.rename(columns={'company':'Company','category':'Category'})

In [ ]:
# It does as its told.
#Syntax: df.set_index('The column name')
df2.set_index('Company')

In [ ]:
df1

In [ ]:
df3

In [ ]:
df2.append(df3)

In [ ]:
# We can also put some dataframes into tuples so we can perform operations on them 
frames=(df2,df2)

In [ ]:
#Syntax: pd.concat(insert_the_dataframes)
nf=pd.concat(frames)

In [6]:
pip install jupyterthemes

Note: you may need to restart the kernel to use updated packages.

'E:\Program' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
jt -t chesterish

SyntaxError: invalid syntax (<ipython-input-3-de2e746ade80>, line 1)